name: Test environment variables
on:
  workflow_dispatch:

env:
  HAS_TOKEN: ${{ secrets.TEST_TOKEN != '' }}

jobs:
  test_case_1:
    name: Test Case 1
    if: startsWith(github.event.commits[0].message, '[TEST]')
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 1 Step 1
        run: echo "Successful!"; exit 0;
  test_case_2:
    name: Test Case 2
    if: always() && startsWith(github.event.commits.message, '[TEST]')
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 2 Step 1
        run: echo "Successful!"; exit 0;
  test_case_3:
    name: Test Case 3
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 3 Step 1
        shell: pwsh
        env:
          HAS_TOKEN: ${{ env.HAS_TOKEN }}
          ACTION_COMMITS: ${{ toJSON(github.event.commits) }}
        run: >-
          # Method `System.String.IsNullOrWhiteSpace(System.String)` Also checks if it is an empty string.
          # This block is to safely test if the environement variable has not been set, as it should be by the runner,
          # and then0reapply it.
          If ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
            Write-Host -Object 'The environment variable $env:HAS_TOKEN was not set.';
            $env:HAS_TOKEN = "${{ env.HAS_TOKEN }}";
          }
          If ([string]::IsNullOrWhiteSpace($env:ACTION_COMMITS)) {
            Write-Host -Object 'The environment variable $env:ACTION_COMMITS was not set.';
            $env:ACTION_COMMITS = "${{ env.ACTION_COMMITS }}";
          }

          # Determines if the environement variable $env:TEST_TOKEN has been set or is blank/null.
          [bool] $HasTokenTest = $False;
          If (-not ([bool]::TryParse($env:HAS_TOKEN, [Ref] $HasTokenTest)) {
            If ([string]::IsNullOrEmpty($env:HAS_TOKEN)) {
              Write-Host -Object "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is" + `
                                 ' likely because it was not set.';
            } ElseIf ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
              Write-Host -Object "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                 ' it was not properly set and was only whitespace.';
            } Else {
              Write-Host -Object "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                 " it was not properly set and was an invalid boolean, got `"$($env:HAS_TOKEN)`".";
            }
          }

          # Determines if the environement variable $env:ACTION_COMMITS has been set or is blank/null.
          [Hashtable] $ActionCommits = ($env:ACTION_COMMITS | ConvertFrom-Json -Depth 100 -AsHashtable -ErrorAction Stop);

          # Determines if the last commit was a test commit.
          [bool] $IsTestPush = ($ActionCommits | Select-Object -First 1 | Select-Object -ExpandProperty 'message') `
                                .StartsWith('[RELEASE]');

          If (-not $HasTokenTest -or -not $IsTestPush) {
            Write-Error -Message 'Canceling Workflow! (Both false)';
            Exit 1;
          } ElseIf ($HasTokenTest -eq $True -and $IsTestPush -eq $True)
            Write-Host -Object 'Successful!';
            Exit 0;
          } ElseIf (-not $HasTokenTest -and $IsTestPush -eq $True)
            Write-Error -Message 'Canceling Workflow!' (HAS_TOKEN false);
            Exit 1;
          } ElseIf ($HasTokenTest -eq $True -and -not $IsTestPush)
            Write-Error -Message 'Canceling Workflow!' (Is not test push);
            Exit 1;
          }
