name: Test environment variables
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  HAS_TOKEN: ${{ secrets.TEST_TOKEN != '' }}
  REQUIRE_TOKEN: false
  ACTION_COMMITS: ${{ toJSON(github.event.commits) }}

jobs:
  test_case_1:
    name: Test Case 1
    if: startsWith(github.event.commits[0].message, '[TEST]')
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 1 Step 1
        run: echo "Successful!"; exit 0;
  test_case_2:
    name: Test Case 2
    if: always() && startsWith(github.event.commits.message, '[TEST]')
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 2 Step 1
        run: echo "Successful!"; exit 0;
  test_case_3:
    name: Test Case 3
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 3 Step 1
        shell: pwsh
        env:
          HAS_TOKEN: ${{ env.HAS_TOKEN }}
          REQUIRE_TOKEN: ${{ env.REQUIRE_TOKEN }}
          ACTION_COMMITS: ${{ toJSON(github.event.commits) }}
        run: |
          # Method `System.String.IsNullOrWhiteSpace(System.String)` Also checks if it is an empty string.
          # This block is to safely test if the environement variable has not been set, as it should be by the runner,
          # and then reapply it.
          If ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
            Write-Warning -Message 'The environment variable $env:HAS_TOKEN was not set.';
            $env:HAS_TOKEN = @'
          ${{ env.HAS_TOKEN }}
          '@.Trim();
          }
          If ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
            Write-Warning -Message 'The environment variable $env:REQUIRE_TOKEN was not set.';
            $env:REQUIRE_TOKEN = @'
          ${{ env.REQUIRE_TOKEN }}
          '@.Trim();
          }
          If ([string]::IsNullOrWhiteSpace($env:ACTION_COMMITS)) {
            Write-Warning -Message 'The environment variable $env:ACTION_COMMITS was not set.';
            $env:ACTION_COMMITS = @'
          ${{ env.ACTION_COMMITS }}
          '@.Trim();
          }

          If ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
            Write-Error -Message 'Environement variable $env:HAS_TOKEN is still null, empty or whitespace!';
            Exit 1;
          }

          If ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
            Write-Error -Message 'Environement variable $env:REQUIRE_TOKEN is still null, empty or whitespace!';
            Exit 1;
          }

          If ([string]::IsNullOrEmpty($env:ACTION_COMMITS)) {
            Write-Error -Message 'Environement variable $env:ACTION_COMMITS is still null, empty!';
            Exit 1;
          } ElseIf ([string]::IsNullOrWhiteSpace($env:ACTION_COMMITS)) {
            Write-Error -Message 'Environement variable $env:ACTION_COMMITS is still whitespace!';
            Exit 1;
          } Else {
            Write-Host -Object '$env:ACTION_COMMITS = ';
            Write-Host -Object $env:ACTION_COMMITS -ForegroundColor Blue;
          }

          # Determines if the environement variable $env:TEST_TOKEN has been set or is blank/null.
          [bool] $HasTokenTest = $False;
          If (-not ([bool]::TryParse($env:HAS_TOKEN, [Ref] $HasTokenTest))) {
            If ([string]::IsNullOrEmpty($env:HAS_TOKEN)) {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is" + `
                                     ' likely because it was not set.';
            } ElseIf ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                     ' it was not properly set and was only whitespace.';
            } Else {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                     " it was not properly set and was an invalid boolean, got `"$($env:HAS_TOKEN)`".";
            }
          }

          # Determines if the the workflow requires a valid token.
          [bool] $RequireTokenTest = $False;
          If (-not ([bool]::TryParse($env:REQUIRE_TOKEN, [Ref] $RequireTokenTest))) {
            If ([string]::IsNullOrEmpty($env:REQUIRE_TOKEN)) {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is" + `
                                   ' likely because it was not set.';
            } ElseIf ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is likely because" + `
                                   ' it was not properly set and was only whitespace.';
            } Else {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is likely because" + `
                                   " it was not properly set and was an invalid boolean, got `"$($env:REQUIRE_TOKEN)`".";
            }
          }

          # Determines if the environement variable $env:ACTION_COMMITS has been set or is blank/null.
          [Hashtable[]] $ActionCommits = @($env:ACTION_COMMITS | ConvertFrom-Json -Depth 100 -AsHashtable -ErrorAction Stop);

          # Determines if the last commit was a test commit.
          [bool] $IsTestPush = (($ActionCommits | Select-Object -First 1 -ErrorAction Stop | Select-Object -ExpandProperty 'message' -ErrorAction Stop) -cmatch '^\[TEST\]');

          # Simplified from `($HasTokenTest -eq $False -and $RequireTokenTest -eq $True) -eq $False -or $RequireTokenTest -eq $False) -eq $True -and $IsTestPush -eq $True`
          If (($HasTokenTest -or -not $RequireTokenTest) -and $IsTestPush) {
            Write-Host -Object 'Successful!' -ForegroundColor Green;
            Exit 0;
          } ElseIf (-not $HasTokenTest -and $RequireTokenTest) {
            Write-Error -Message 'Canceling Workflow! (Requires Token is true and Token Test is false)';
            Exit 1;
          } ElseIf ($IsTestPush) {
            Write-Error -Message 'Canceling Workflow! (Is not test push)';
            Exit 1;
          }
  test_case_4:
    name: Test Case 4
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 4 Step 1
        shell: pwsh
        run: |
          # Method `System.String.IsNullOrWhiteSpace(System.String)` Also checks if it is an empty string.
          # This block is to safely test if the environement variable has not been set, as it should be by the runner,
          # and then reapply it.
          If ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
            Write-Warning -Message 'The environment variable $env:HAS_TOKEN was not set.';
            $env:HAS_TOKEN = @'
          ${{ env.HAS_TOKEN }}
          '@.Trim();
          }
          If ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
            Write-Warning -Message 'The environment variable $env:REQUIRE_TOKEN was not set.';
            $env:REQUIRE_TOKEN = @'
          ${{ env.REQUIRE_TOKEN }}
          '@.Trim();
          }
          If ([string]::IsNullOrWhiteSpace($env:ACTION_COMMITS)) {
            Write-Warning -Message 'The environment variable $env:ACTION_COMMITS was not set.';
            $env:ACTION_COMMITS = @'
          ${{ env.ACTION_COMMITS }}
          '@.Trim();
          }

          If ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
            Write-Error -Message 'Environement variable $env:HAS_TOKEN is still null, empty or whitespace!';
            Exit 1;
          }

          If ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
            Write-Error -Message 'Environement variable $env:REQUIRE_TOKEN is still null, empty or whitespace!';
            Exit 1;
          }

          If ([string]::IsNullOrEmpty($env:ACTION_COMMITS)) {
            Write-Error -Message 'Environement variable $env:ACTION_COMMITS is still null, empty!';
            Exit 1;
          } ElseIf ([string]::IsNullOrWhiteSpace($env:ACTION_COMMITS)) {
            Write-Error -Message 'Environement variable $env:ACTION_COMMITS is still whitespace!';
            Exit 1;
          } Else {
            Write-Host -Object '$env:ACTION_COMMITS = ';
            Write-Host -Object $env:ACTION_COMMITS -ForegroundColor Blue;
          }

          # Determines if the environement variable $env:TEST_TOKEN has been set or is blank/null.
          [bool] $HasTokenTest = $False;
          If (-not ([bool]::TryParse($env:HAS_TOKEN, [Ref] $HasTokenTest))) {
            If ([string]::IsNullOrEmpty($env:HAS_TOKEN)) {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is" + `
                                     ' likely because it was not set.';
            } ElseIf ([string]::IsNullOrWhiteSpace($env:HAS_TOKEN)) {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                     ' it was not properly set and was only whitespace.';
            } Else {
              Write-Warning -Message "The environment variable `"`$env:HAS_TOKEN`" failed to parse, this is likely because" + `
                                     " it was not properly set and was an invalid boolean, got `"$($env:HAS_TOKEN)`".";
            }
          }

          # Determines if the the workflow requires a valid token.
          [bool] $RequireTokenTest = $False;
          If (-not ([bool]::TryParse($env:REQUIRE_TOKEN, [Ref] $RequireTokenTest))) {
            If ([string]::IsNullOrEmpty($env:REQUIRE_TOKEN)) {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is" + `
                                   ' likely because it was not set.';
            } ElseIf ([string]::IsNullOrWhiteSpace($env:REQUIRE_TOKEN)) {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is likely because" + `
                                   ' it was not properly set and was only whitespace.';
            } Else {
              Write-Error -Message "The environment variable `"`$env:REQUIRE_TOKEN`" failed to parse, this is likely because" + `
                                   " it was not properly set and was an invalid boolean, got `"$($env:REQUIRE_TOKEN)`".";
            }
          }

          # Determines if the environement variable $env:ACTION_COMMITS has been set or is blank/null.
          [Hashtable[]] $ActionCommits = @($env:ACTION_COMMITS | ConvertFrom-Json -Depth 100 -AsHashtable -ErrorAction Stop);

          # Determines if the last commit was a test commit.
          [bool] $IsTestPush = (($ActionCommits | Select-Object -First 1 -ErrorAction Stop | Select-Object -ExpandProperty 'message' -ErrorAction Stop) -cmatch '^\[TEST\]');

          # Simplified from `($HasTokenTest -eq $False -and $RequireTokenTest -eq $True) -eq $False -or $RequireTokenTest -eq $False) -eq $True -and $IsTestPush -eq $True`
          If (($HasTokenTest -or -not $RequireTokenTest) -and $IsTestPush) {
            Write-Host -Object 'Successful!' -ForegroundColor Green;
            Exit 0;
          } ElseIf (-not $HasTokenTest -and $RequireTokenTest) {
            Write-Error -Message 'Canceling Workflow! (Requires Token is true and Token Test is false)';
            Exit 1;
          } ElseIf ($IsTestPush) {
            Write-Error -Message 'Canceling Workflow! (Is not test push)';
            Exit 1;
          }
  test_case_5:
    name: Test Case 5
    if: always() && (github.env.HAS_TOKEN != 'false' || github.env.REQUIRE_TOKEN == 'false') && startsWith(github.event.commits[0].message, '[TEST]')
    runs-on: ubuntu-latest
    steps:
      - name: Test Case 5 Step 1
        run: echo "Successful!"; exit 0;
